
<div class="row" ng-controller="EstimateCtrl" ng-init="start=0;end=10;">
    <div class="col-sm-12">
        <h3>Hướng dẫn sử dụng</h3>
        <p>
            - Double click bất kì ô nào trong cột Tên Công Việc để search công việc.
        </p>
        <p>
            - Nhập mã hiệu công việc để vào ô để tìm kiếm.
        </p>
        <p>
            - Thực hiện miêu tả công việc, và nhập khối lượng bằng cách nhập vào ô STT với dữ liệu 1.1, 1.2, 1.3, 2.1 ,2.2, 2,3...
            cho các công việc tương ứng là 1, 2,...
        </p>
    </div>
    <style>
        .input_zoomdata {
            margin-bottom: 5px;
            margin-right: 17px;
            margin-left: 0px;
            display: table;
        }

        .cell {
            border-right: 1px solid #c6c6c6;
            border-bottom: 1px solid #c6c6c6;
            outline: none;
            position: absolute;
            height: 51px;
        }

        .row_sheet {
            height: 51px;
            width: 100%;
        }

        .row_header {
            border-right: 1px solid #c6c6c6;
            border-top: 1px solid #c6c6c6;
            border-bottom: 1px solid #c6c6c6;
            background: #eaeaea;
            color: #222;
            text-align: center;
            font-weight: 700;
            padding-top: 5px;
            outline: none;
            position: absolute;
            height: 50px;
        }

        .column_header {
            border-right: 1px solid #c6c6c6;
            border-bottom: 1px solid #c6c6c6;
            border-left: 1px solid #c6c6c6;
            background: #eaeaea;
            color: #222;
            text-align: center;
            font-weight: 700;
            padding-top: 5px;
            outline: none;
            position: absolute;
            height: 51px;
        }

        .sheet_cellheader {
            position: relative;
            width: 98.3%;
            height: 50px;
            max-height: inherit;
        }

        .popupsearch {
            width: 700px;
            height: 400px;
            background-color: #F5F4EB;
            -webkit-box-shadow: 1px 1px 3px 4px #E4DBBF; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow: 1px 1px 3px 4px #E4DBBF; /* Firefox 3.5 - 3.6 */
            box-shadow: 1px 1px 3px 4px #E4DBBF; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        }

        .input_sheet {
            width: 100%;
            border: 0px;
            height: 50px;
            padding-left: 4px;
            resize: none;
        }
    </style>
    <div class="col-sm-12">
        <!--
        <div class="col-sm-12" style="margin-top:10px">
            <div class="input_zoomdata">
                <div class="input-group-btn">
                    <span class="btn btn-info"><i class="fa fa-fw fa-arrows-h"></i></span>
                </div><!-- /btn-group
                <input type="text" class="form-control" id="txt_zoomdata" ng-model="work">
            </div>
        </div>
            -->
        <div class="col-sm-12" style="height:30px">
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <span id="Message_saved" style="color:green" ng-show="message_save">
                    <i class="fa fa-circle-o-notch fa-spin" style="font-size:18px"></i>
                    Đang lưu vào hệ thống
                </span>
            </div>
        </div>
        <div class="col-sm-12" style="height:400px;">
            <div style="width:100%; height:100%">
                <!--row_header-->
                <div class="sheet_cellheader" id="sheet_cellheader">
                    <div style="position: absolute; top: 0px; width: 100%; background-color: #eaeaea;">
                        <div style="left:0%;width:3%;top:0px;border-left: 1px solid #c6c6c6;" class="row_header"></div>
                        <div style="left:3%;width:4%;top:0px;" class="row_header">STT</div>
                        <div style="left:7%;width:7%;top:0px;" class="row_header">Mã Hiệu</div>
                        <div style="left:14%;width:30%;top:0px;" class="row_header">Tên Công Việc</div>
                        <div style="left:44%;width:8%;top:0px;" class="row_header">Đơn Vị</div>
                        <div style="left:52%;width:5%;top:0px;" class="row_header">Số Lượng</div>
                        <div style="left:57%;width:5%;top:0px;" class="row_header">Dài</div>
                        <div style="left:62%;width:5%;top:0px;" class="row_header">Rộng</div>
                        <div style="left:67%;width:5%;top:0px;" class="row_header">Cao</div>
                        <div style="left:72%;width:7%;top:0px;" class="row_header">Khối Lượng</div>
                        <div style="left:79%;width:7%;top:0px;" class="row_header">TTVL</div>
                        <div style="left:86%;width:7%;top:0px;" class="row_header">TTNC</div>
                        <div style="left:93%;width:7%;top:0px;" class="row_header">TTMTC</div>
                    </div>
                </div>

                <!--Center-->
                <div style="position: relative; width: 100%; height: 100%; max-height: inherit;">
                    <div style="position: absolute; top: 0px; width: 100%; height: 70%; background-color: white; overflow-y:auto" id="sheet_cellcenter">
                        <!--sheet-->
                        <div class="row_sheet" ng-repeat="work in works">
                            <div style="left:0%;width:3%;border-left: 1px solid #c6c6c6;" class="column_header">
                                <input type="text" readonly ng-model="work.IndexSheet" style=" background: #eaeaea; border: none; width: 100%; text-align: center;" />
                            </div>
                            <div style="left:3%;width:4%" class="cell">
                                <input type="text" ng-model="work.ID" ng-focus="focus(work.ID, $event)" ng-blur="blur(work.ID)" class="input_sheet" />
                            </div>
                            <div style="left:7%;width:7%" class="cell">
                                <input type="text" ng-model="work.NormWork_ID" ng-focus="focus(work.NormWork_ID , $event)" ng-blur="blur(work.NormWork_ID)" class="input_sheet" />
                            </div>
                            <div style="left: 14%; width: 30%;" class="cell">
                                <textarea ng-model="work.Name" ng-dblclick="search_work($event);" ng-focus="focus(work.Name,$event)" ng-blur="blur(work.Name)" class="input_sheet" style="font-size:13px;overflow:hidden"></textarea>
                            </div>
                            <div style="left:44%;width:8%;" class="cell">
                                <input type="text" ng-model="work.Unit" readonly ng-focus="focus(work.Unit, $event)" ng-blur="blur(work.Unit)" class="input_sheet" />
                            </div>
                            <div style="left:52%;width:5%;" class="cell">
                                <input type="text" ng-model="work.Number" ng-focus="focus(work.Number , $event)" class="input_sheet" ng-blur="change($event); blur(work.Number)" />
                            </div>
                            <div style="left:57%;width:5%;" class="cell">
                                <input type="text" ng-model="work.Horizontal" ng-focus="focus(work.Horizontal, $event)" class="input_sheet" ng-blur="change($event) ; blur(work.Horizontal)" />
                            </div>
                            <div style="left:62%;width:5%;" class="cell">
                                <input type="text" ng-model="work.Vertical" ng-focus="focus(work.Vertical, $event)" class="input_sheet" ng-blur="change($event) ; blur(work.Vertical)" />
                            </div>
                            <div style="left:67%;width:5%;" class="cell">
                                <input type="text" ng-model="work.Height" ng-focus="focus(work.Height, $event)" class="input_sheet" ng-blur="change($event) ; blur(work.Height)" />
                            </div>
                            <div style="left:72%;width:7%;" class="cell">
                                <input type="text" ng-model="work.Area" ng-focus="focus(work.Area, $event)" ng-blur="blur(work.Area)" class="input_sheet" />
                            </div>
                            <div style="left:79%;width:7%;" class="cell">
                                <input type="text" ng-model="work.SumMaterial" class="input_sheet" />
                            </div>
                            <div style="left:86%;width:7%;" class="cell">
                                <input type="text" ng-model="work.SumLabor" class="input_sheet" />
                            </div>
                            <div style="left:93%;width:7%;" class="cell">
                                <input type="text" ng-model="work.SumMachine" class="input_sheet" />
                            </div>
                            <input type="hidden" ng-model="work.BuildingItem_ID" />
                            <input type="hidden" ng-model="work.Sub_BuildingItem_ID" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupsearch" ng-show="popupsearch" ng-class="popupsearchclass" ng-style="popupsearchcss">
        <div class="form-group" style="margin-top:10px">
            <div class="col-sm-12">
                <input class="form-control" id="txt_search" ng-model="keysearch" autofocus placeholder="Nhập công việc cần tìm kiếm..." />
            </div>
            <div class="col-sm-12" style="margin-top:10px;">
                <div class="box-body table-responsive no-padding" style="height:300px; overflow-y:auto">
                    <table class="table table-hover">
                        <tbody id="table_search_normwork">
                            <tr>
                                <th></th>
                                <th>Mã Hiệu</th>
                                <th>Công Tác</th>
                                <th>Đơn Vị</th>
                            </tr>
                            <tr ng-repeat="x in list_Normwork | filter: {ID:keysearch} | limitTo:100">
                                <td>
                                    <input type="checkbox" value="{{x}}" ng-model="x.checked" ng-click="checkbox_search(x)" />
                                </td>
                                <td>{{x.ID}}</td>
                                <td>{{x.Name}}</td>
                                <td>{{x.Unit}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div>
            <div class="col-sm-12" style="margin-top:5px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button class="btn btn-block btn-primary" id="btn_search_normwork" ng-click="save_search()">Chọn</button>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
</div>

