USE [master]
GO
/****** Object:  Database [DTXD]    Script Date: 6/28/2016 1:17:28 PM ******/
CREATE DATABASE [DTXD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DTXD1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DTXD1.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DTXD1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DTXD1_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DTXD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DTXD]
GO
/****** Object:  StoredProcedure [dbo].[Insert_CongTrinh]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_CongTrinh] 
	@Email nvarchar(200),
	@TenCT nvarchar(2000),
	@HinhAnh text,
	@MoTa nvarchar(2000),
	@Gia decimal(18,0)
AS
BEGIN
	declare @stt int
	set @stt = 1
	declare @temp nvarchar(2)
	set @temp = 'CT'
	declare @ma nvarchar(50)
	set @ma = @temp + cast(@stt as nvarchar(50))
	while exists(select * from CongTrinh where MaCT = @ma)
	begin
		set @stt = @stt + 1
		set @ma = @temp + cast(@stt as nvarchar(50))
	end
	insert into CongTrinh values (@ma,@Email,@TenCT,@HinhAnh,@MoTa,@Gia)
END

GO
/****** Object:  StoredProcedure [dbo].[Insert_CongViec]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_CongViec] 
	@MaHM nvarchar(50),
	@MaHieuCV_DM nvarchar(50),
	@TenCongViec nvarchar(3000),
	@DonVi nvarchar(50),
	@KhoiLuong decimal(18,3),
	@GiaVL decimal(18,3),
	@GiaNC decimal(18,3),
	@GiaMTC decimal(18,3),
	@ThanhTien decimal(18,3)
AS
BEGIN
	declare @stt int
	set @stt = 1
	declare @temp nvarchar(3)
	set @temp = 'CV_'
	declare @ma nvarchar(50)
	set @ma = @temp + cast(@stt as nvarchar(50))
	while exists(select * from CongViec where MaHieuCV_User = @ma)
	begin
		set @stt = @stt + 1
		set @ma = @temp + cast(@stt as nvarchar(50))
	end
	insert into CongViec values (@ma,@MaHM,@MaHieuCV_DM,@TenCongViec,@DonVi,@KhoiLuong,@GiaVL,@GiaNC,@GiaMTC,@ThanhTien)
END

GO
/****** Object:  StoredProcedure [dbo].[Insert_HangMuc]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_HangMuc]
	@MaCT nvarchar(50),
	@TenHM nvarchar(2000),
	@MoTa nvarchar(2000),
	@Gia decimal(18,3)
AS
BEGIN
	declare @stt int
	set @stt = 1
	declare @temp nvarchar(2)
	set @temp = 'HM'
	declare @ma nvarchar(50)
	set @ma = @temp + cast(@stt as nvarchar(50))
	WHILE EXISTS(select * from HangMuc where MaHM = @ma)
	begin
		set @stt = @stt + 1
		set @ma = @temp + cast(@stt as nvarchar(50))
	end
	insert into HangMuc values (@ma,@MaCT,@TenHM,@MoTa,@Gia)
END

GO
/****** Object:  StoredProcedure [dbo].[Insert_ThanhPhanHaoPhi]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_ThanhPhanHaoPhi] 
	@MaHieuCV_User nvarchar(50),
	@Ten nvarchar(3000),
	@DonVi nvarchar(50),
	@Gia decimal(18,3)
AS
BEGIN
	declare @stt int
	set @stt = 1
	declare @temp nvarchar(3)
	set @temp = 'HP'
	declare @ma nvarchar(50)
	set @ma = @temp + cast(@stt as nvarchar(50))
	while exists(select * from ThanhPhanHaoPhi where MaHP = @ma)
	begin
		set @stt = @stt + 1
		set @ma = @temp + cast(@stt as nvarchar(50))
	end
	insert into ThanhPhanHaoPhi values (@ma,@MaHieuCV_User,@Ten,@DonVi,@Gia)
END

GO
/****** Object:  Table [dbo].[ChiTiet_DinhMuc]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTiet_DinhMuc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaHieuCV_DM] [nvarchar](50) NOT NULL,
	[MaVL_NC_MTC] [nvarchar](50) NOT NULL,
	[SoLuong] [decimal](18, 3) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChiTiet_DinhMuc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CongTrinh]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTrinh](
	[Id] [bigint] NOT NULL,
	[MaCT] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[TenCT] [nvarchar](2000) NOT NULL,
	[Url_HinhAnh] [text] NULL,
	[MoTa] [nvarchar](2000) NULL,
	[DiaChi] [nvarchar](1000) NULL,
	[Gia] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_CongViecChung] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[Id] [bigint] NOT NULL,
	[MaHieuCV_User] [nvarchar](50) NOT NULL,
	[MaHM] [nvarchar](50) NOT NULL,
	[MaHieuCV_DM] [nvarchar](50) NULL,
	[TenCongViec] [nvarchar](3000) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[KhoiLuong] [decimal](18, 0) NOT NULL,
	[GiaVL] [decimal](18, 3) NOT NULL,
	[GiaNC] [decimal](18, 3) NOT NULL,
	[GiaMTC] [decimal](18, 3) NOT NULL,
	[ThanhTien] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[MaHieuCV_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DinhMuc]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhMuc](
	[MaHieuCV_DM] [nvarchar](50) NOT NULL,
	[CongTac] [nvarchar](2000) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[RangBuoc] [nvarchar](2000) NULL,
 CONSTRAINT [PK_DinhMuc] PRIMARY KEY CLUSTERED 
(
	[MaHieuCV_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonGia]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonGia](
	[MaKV] [nvarchar](50) NOT NULL,
	[MaVL_NC_MTC] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](1000) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[Gia] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DonGia] PRIMARY KEY CLUSTERED 
(
	[MaVL_NC_MTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangMuc]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangMuc](
	[Id] [bigint] NOT NULL,
	[MaHM] [nvarchar](50) NOT NULL,
	[MaCT] [nvarchar](50) NOT NULL,
	[TenHM] [nvarchar](2000) NOT NULL,
	[MoTa] [nvarchar](2000) NULL,
	[Gia] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_HangMuc] PRIMARY KEY CLUSTERED 
(
	[MaHM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKV] [nvarchar](50) NOT NULL,
	[TenKV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [text] NOT NULL,
	[NoiDung] [text] NOT NULL,
	[HinhAnh] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nguoi_Dung]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_Dung](
	[Email] [nvarchar](200) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[Ho_TenLot] [nvarchar](100) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](12) NULL,
	[NoiLamViec] [nvarchar](100) NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[Url_HinhAnh] [nvarchar](500) NULL,
	[Quyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Nguoi_Dung] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThanhPhanHaoPhi]    Script Date: 6/28/2016 1:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPhanHaoPhi](
	[Id] [bigint] NOT NULL,
	[MaHP] [nvarchar](50) NOT NULL,
	[MaHieuCV_User] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](2000) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[SoLuong_DM] [decimal](18, 3) NOT NULL,
	[Gia] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_ThanhPhanHaoPhi_U] PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChiTiet_DinhMuc] ON 

INSERT [dbo].[ChiTiet_DinhMuc] ([id], [MaHieuCV_DM], [MaVL_NC_MTC], [SoLuong], [DonVi]) VALUES (109, N'AG.13400', N'V240790', CAST(1005.000 AS Decimal(18, 3)), N'kg')
INSERT [dbo].[ChiTiet_DinhMuc] ([id], [MaHieuCV_DM], [MaVL_NC_MTC], [SoLuong], [DonVi]) VALUES (110, N'AG.13400', N'V240307', CAST(14.280 AS Decimal(18, 3)), N'kg')
INSERT [dbo].[ChiTiet_DinhMuc] ([id], [MaHieuCV_DM], [MaVL_NC_MTC], [SoLuong], [DonVi]) VALUES (111, N'AG.13400', N'V240591', CAST(5.083 AS Decimal(18, 3)), N'kg')
SET IDENTITY_INSERT [dbo].[ChiTiet_DinhMuc] OFF
INSERT [dbo].[CongTrinh] ([Id], [MaCT], [Email], [TenCT], [Url_HinhAnh], [MoTa], [DiaChi], [Gia]) VALUES (1, N'CT1', N'mr.huynhhuuduy@gmail.com', N'Trường Học', NULL, N'haha', N'137/33/Nguyễn Chí Thanh, P16, Q11', CAST(998900 AS Decimal(18, 0)))
INSERT [dbo].[CongTrinh] ([Id], [MaCT], [Email], [TenCT], [Url_HinhAnh], [MoTa], [DiaChi], [Gia]) VALUES (2, N'CT2', N'mr.huynhhuuduy@gmail.com', N'Nhà Cấp 4', NULL, N'haha', N'haha', CAST(100000 AS Decimal(18, 0)))
INSERT [dbo].[CongTrinh] ([Id], [MaCT], [Email], [TenCT], [Url_HinhAnh], [MoTa], [DiaChi], [Gia]) VALUES (3, N'CT3', N'mr.huynhhuuduy@gmail.com', N'Biệt Thự', NULL, N'haha', N'haha', CAST(9000000 AS Decimal(18, 0)))
INSERT [dbo].[CongViec] ([Id], [MaHieuCV_User], [MaHM], [MaHieuCV_DM], [TenCongViec], [DonVi], [KhoiLuong], [GiaVL], [GiaNC], [GiaMTC], [ThanhTien]) VALUES (1, N'CV_1', N'HM1', N'AG.13500', N'- Lắp neo cáp dự ứng lực ', N'1 đầu neo', CAST(1 AS Decimal(18, 0)), CAST(52860.000 AS Decimal(18, 3)), CAST(11525.750 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), CAST(64385.750 AS Decimal(18, 3)))
INSERT [dbo].[CongViec] ([Id], [MaHieuCV_User], [MaHM], [MaHieuCV_DM], [TenCongViec], [DonVi], [KhoiLuong], [GiaVL], [GiaNC], [GiaMTC], [ThanhTien]) VALUES (2, N'CV_2', N'HM1', N'AG.13400', N'- Cốt thép dầm cầu Đường kính cốt thép <=18mm', N'1 tấn', CAST(1 AS Decimal(18, 0)), CAST(7862769.500 AS Decimal(18, 3)), CAST(336695.040 AS Decimal(18, 3)), CAST(138664.400 AS Decimal(18, 3)), CAST(8338128.940 AS Decimal(18, 3)))
INSERT [dbo].[DinhMuc] ([MaHieuCV_DM], [CongTac], [DonVi], [RangBuoc]) VALUES (N'AG.13400', N'Cốt thép dầm cầu', N'1 tấn', N'Đường kính cốt thép <=18mm')
INSERT [dbo].[DinhMuc] ([MaHieuCV_DM], [CongTac], [DonVi], [RangBuoc]) VALUES (N'AG.13401', N'Cốt thép dầm cầu', N'1 tấn', N'Đường kính cốt thép >18mm')
INSERT [dbo].[DinhMuc] ([MaHieuCV_DM], [CongTac], [DonVi], [RangBuoc]) VALUES (N'AG.13500', N'Lắp neo cáp dự ứng lực', N'1 đầu neo', NULL)
INSERT [dbo].[DonGia] ([MaKV], [MaVL_NC_MTC], [Ten], [DonVi], [Gia]) VALUES (N'HCM_CX_DG4845', N'M240002', N'Ô tô chở phế thải 7Tấn', N'ca', CAST(676945 AS Decimal(18, 0)))
INSERT [dbo].[DonGia] ([MaKV], [MaVL_NC_MTC], [Ten], [DonVi], [Gia]) VALUES (N'HCM_CX_DG4845', N'M240003', N'Ô tô chứa nhiên liệu 2,5Tấn', N'ca', CAST(253486 AS Decimal(18, 0)))
INSERT [dbo].[DonGia] ([MaKV], [MaVL_NC_MTC], [Ten], [DonVi], [Gia]) VALUES (N'HCM_CX_DG4845', N'M240004', N'Ô tô thùng 2,5Tấn', N'ca', CAST(253486 AS Decimal(18, 0)))
GO
INSERT [dbo].[HangMuc] ([Id], [MaHM], [MaCT], [TenHM], [MoTa], [Gia]) VALUES (0, N'HM1', N'CT1', N'Đào Móng Cừ Tràm', N'Nhiều Tràm', CAST(0.000 AS Decimal(18, 3)))
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'HCM_CX_DG4845', N'Thành phố Hồ Chí Minh')
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'HN_TEST', N'Hà Nội')
INSERT [dbo].[Nguoi_Dung] ([Email], [MatKhau], [Ho_TenLot], [Ten], [SDT], [NoiLamViec], [ThanhPho], [Url_HinhAnh], [Quyen]) VALUES (N'mr.huynhhuuduy@gmail.com', N'123456', N'Huynh Huu', N'Duy', N'01227700731', N'DH Sai Gon', N'TP Ho Chi Minh', NULL, N'user')
INSERT [dbo].[ThanhPhanHaoPhi] ([Id], [MaHP], [MaHieuCV_User], [Ten], [DonVi], [SoLuong_DM], [Gia]) VALUES (12, N'M_HP12', N'CV_2', N'Máy hàn 23 KW', N'ca', CAST(1.225 AS Decimal(18, 3)), CAST(104624.000 AS Decimal(18, 3)))
INSERT [dbo].[ThanhPhanHaoPhi] ([Id], [MaHP], [MaHieuCV_User], [Ten], [DonVi], [SoLuong_DM], [Gia]) VALUES (13, N'M_HP13', N'CV_2', N'Máy cắt uốn', N'ca', CAST(0.210 AS Decimal(18, 3)), CAST(50000.000 AS Decimal(18, 3)))
INSERT [dbo].[ThanhPhanHaoPhi] ([Id], [MaHP], [MaHieuCV_User], [Ten], [DonVi], [SoLuong_DM], [Gia]) VALUES (11, N'N_HP11', N'CV_2', N'Nhân công 4,0/7', N'công', CAST(7.920 AS Decimal(18, 3)), CAST(42512.000 AS Decimal(18, 3)))
ALTER TABLE [dbo].[ChiTiet_DinhMuc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_DinhMuc_DinhMuc] FOREIGN KEY([MaHieuCV_DM])
REFERENCES [dbo].[DinhMuc] ([MaHieuCV_DM])
GO
ALTER TABLE [dbo].[ChiTiet_DinhMuc] CHECK CONSTRAINT [FK_ChiTiet_DinhMuc_DinhMuc]
GO
ALTER TABLE [dbo].[ChiTiet_DinhMuc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_DinhMuc_DonGia] FOREIGN KEY([MaVL_NC_MTC])
REFERENCES [dbo].[DonGia] ([MaVL_NC_MTC])
GO
ALTER TABLE [dbo].[ChiTiet_DinhMuc] CHECK CONSTRAINT [FK_ChiTiet_DinhMuc_DonGia]
GO
ALTER TABLE [dbo].[CongTrinh]  WITH CHECK ADD  CONSTRAINT [FK_CongTrinh_Nguoi_Dung] FOREIGN KEY([Email])
REFERENCES [dbo].[Nguoi_Dung] ([Email])
GO
ALTER TABLE [dbo].[CongTrinh] CHECK CONSTRAINT [FK_CongTrinh_Nguoi_Dung]
GO
ALTER TABLE [dbo].[CongViec]  WITH CHECK ADD  CONSTRAINT [FK_CongViec_HangMuc] FOREIGN KEY([MaHM])
REFERENCES [dbo].[HangMuc] ([MaHM])
GO
ALTER TABLE [dbo].[CongViec] CHECK CONSTRAINT [FK_CongViec_HangMuc]
GO
ALTER TABLE [dbo].[HangMuc]  WITH CHECK ADD  CONSTRAINT [FK_HangMuc_CongTrinh] FOREIGN KEY([MaCT])
REFERENCES [dbo].[CongTrinh] ([MaCT])
GO
ALTER TABLE [dbo].[HangMuc] CHECK CONSTRAINT [FK_HangMuc_CongTrinh]
GO
ALTER TABLE [dbo].[ThanhPhanHaoPhi]  WITH CHECK ADD  CONSTRAINT [FK_ThanhPhanHaoPhi_CongViec] FOREIGN KEY([MaHieuCV_User])
REFERENCES [dbo].[CongViec] ([MaHieuCV_User])
GO
ALTER TABLE [dbo].[ThanhPhanHaoPhi] CHECK CONSTRAINT [FK_ThanhPhanHaoPhi_CongViec]
GO
USE [master]
GO
