@using Du_Toan_Xay_Dung.Handlers
<!DOCTYPE html>
<html>
<head>
    <!-- bootstrap-wysiwyg -->
    <script src="~/Scripts/Admin/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Scripts/Admin/bootstraps/bootstrap-wysiwyg.min.js"></script>
    <!--<script src="~/Scripts/Admin/prettify.js"></script>-->

    <script src="~/Scripts/Admin/jquery/jquery.hotkeys.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/Scripts/Admin/jquery/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="~/Scripts/Admin/bootstraps/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/Scripts/Admin/bootstraps/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="~/Scripts/Admin/bootstraps/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="~/Scripts/Admin/bootstraps/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/Scripts/Admin/jquery/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/Scripts/Admin/bootstraps/starrr.js"></script>
    <!-- bootstrap-wysiwyg -->
    <link href="~/Content/admin/css/prettify.min.css" rel="stylesheet" />

    <!-- Select2 -->
    <link href="~/Content/admin/css/select2.min.css" rel="stylesheet" />
    <!-- Switchery -->
    <link href="~/Content/admin/css/switchery.min.css" rel="stylesheet" />
    <!-- starrr -->
    <link href="~/Content/admin/css/starrr.css" rel="stylesheet" />
    <!-- Datatables -->
    <link href="~/Content/admin/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/scroller.bootstrap.min.css" rel="stylesheet" />
    <!-- Datatables -->
    <script src="~/Scripts/Admin/jquery/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Admin/vendors/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Admin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Admin/datatable.net-bs/dataTables.bootstrap.min.js"></script>
     
    <script src="~/Scripts/Admin/datatables/dataTables.buttons.min.js"></script>   
    <script src="~/Scripts/Admin/bootstraps/buttons.bootstrap.min.js"></script>
    <script src="~/Scripts/Admin/bootstraps/buttons.flash.min.js"></script>
    <script src="~/Scripts/Admin/bootstraps/buttons.html5.min.js"></script>
    <script src="~/Scripts/Admin/bootstraps/buttons.print.min.js"></script>
    <script src="~/Scripts/Admin/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Scripts/Admin/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Scripts/Admin/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/Admin/responsive.bootstrap.js"></script>
    <script src="~/Scripts/Admin/datatables/dataTables.scroller.min.js"></script>
    <script src="~/Scripts/Admin/build/jszip.min.js"></script>
    <script src="~/Scripts/Admin/bootstraps/pdfmake.min.js"></script>
    <!-- Datatables -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Construction_Estimate</title>
    <!-- Bootstrap -->
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Content/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Content/green.css" rel="stylesheet" />
    <!-- bootstrap-progressbar -->
    <link href="~/Content/Bootstrap/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/Content/jqvmap.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Content/custom.min.css" rel="stylesheet" />


    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
   
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Admin/Index" class="site_title"><i class="fa fa-paw"></i> <span>Trang chủ!</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="~/Images/13434854_305599949784935_3434578791858611307_n.jpg" atl="...." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Chào bạn,</span>
                            @if (SessionHandler.User != null)
                            {
                                <h2>@SessionHandler.User.Last_Name</h2>
                            }
                            else
                            {
                                <h2></h2>
                            }
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Chức năng chung </h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-edit"></i>Biểu mẫu <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Admin/themnguoidung">Thêm người dùng</a></li>
                                        <li><a href="/Admin/nhapdinhmuc">Thêm định mức</a></li>
                                        <li><a href="/Admin/upload">Tải đơn giá</a></li>
                                        <li><a href="/Admin/uploadinhmuc">Tải định mức</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i>Bảng <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Admin/suaxoanguoidung">Danh sách người dùng</a></li>
                                        <li><a href="/Admin/danhsachdongia">Danh sách đơn giá </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                                    <img src="~/Images/13434854_305599949784935_3434578791858611307_n.jpg" alt="">
                                    @if (SessionHandler.User != null)
                                    {
                                        @SessionHandler.User.Last_Name
                                    }
                                    else
                                    {

                                    }
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;">Thông tin cá nhân</a></li>
                                    <li><a href="/Account/Logout"><i class="fa fa-sign-out pull-right"></i>Đăng xuất</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    <!-- jQuery -->
    <script src="~/Scripts/Admin/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/Admin/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/Admin/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Scripts/Admin/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Scripts/Admin/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Scripts/Admin/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Scripts/Admin/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/Admin/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Scripts/Admin/skycons.js"></script>
    <script src="~/Scripts/Admin/jquery.flot.pie.js"></script>
    <script src="~/Scripts/Admin/jquery.flot.time.js"></script>
    <script src="~/Scripts/Admin/jquery.flot.stack.js"></script>
    <script src="~/Scripts/Admin/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>


    <script src="~/Scripts/Admin/jquery.flot.orderBars.js"></script>
    <script src="~/Scripts/Admin/jquery.flot.spline.min.js"></script>
    <script src="~/Scripts/Admin/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Scripts/Admin/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Scripts/Admin/jquery.vmap.js"></script>
    <script src="~/Scripts/Admin/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Scripts/Admin/moment.min.js"></script>
    <script src="~/Scripts/Admin/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/Admin/custom.min.js"></script>
</body>
</html>
