@{
    ViewBag.Title = "themcongtrinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .img_box {
        list-style: none;
        position: relative;
        display: table;
        margin: 8px;
        height: 160px;
        border: 1px solid #ddd;
        box-shadow: 1px 1px 5px 0 #a2958a;
        padding: 6px;
        float: left;
    }

    .icon-delete {
        display: inherit;
        margin: 20px 0px 0px 0px;
    }

    .img_box .image_name {
        text-align: center;
        display: block;
        margin-top: 10px;
    }
     .listImage {
        border-radius: 5px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding-right: 5px;
    }

    .closeall_images {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
    }

        .closeall_images:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=50);
            opacity: .5;
        }

    .button_choosefile {
        padding-left: 0px;
    }
</style>
<script>
    angular.module('postApp', [])
   .controller('postController', ['$scope', '$http', function ($scope, $http) {
       $scope.stepsModel = [];
       $scope.imageUpload = function (event) {
           $scope.stepsModel = [];
           var files = event.target.files; //FileList object

           for (var i = 0; i < files.length; i++) {
               var file = files[i];
               var reader = new FileReader();
               reader.onload = $scope.imageIsLoaded;
               reader.readAsDataURL(file);
           }
           console.log($scope.stepsModel);
       }
       $scope.imageIsLoaded = function (e) {
           $scope.$apply(function () {
               var image = { image: e.target.result };
               $scope.stepsModel.push(image);
           });
       }
       $scope.master = {};
       $scope.submitForm = function (congtrinh) {
           congtrinh.img_congtrinh = angular.copy($scope.stepsModel);
           $scope.master = angular.copy(congtrinh);
           $http({
               method: 'POST',
               url: '/CongTrinh/Post_ThemCongTrinh',
               data: JSON.stringify($scope.master),
               headers: { 'Content-Type': 'application/json' }
           })
               .success(function (result) {
                   if (result == "error") {
                       // Showing errors.
                       //$scope.errorEmail = data.errors.email;
                       alert("Xảy ra lỗi");
                       return;
                   }
                   else {
                       //$scope.message = data.message;
                       alert("Lưu thành công");
                       window.location.href = "/CongTrinh/Index";
                   }
               });

       };
       $("#listImage").on('click', '.btn-default', function () {
           var hoi = confirm("Bạn có chắc chắn muốn xóa hình ảnh");
           $("#listImage .img_box").each(function () {
               var image = $(this).find("img");
               var imgurl = image.attr("src");
               var imgname = image.attr("title");
           })
           if (hoi == true) {
               $(this).parent().remove();
               var myObject;
               myObject = new ActiveXObject("Scripting.FileSystemObject");
               myObject.DeleteFile("~/Images/CongTrinh/" + imgname);
           }
           else {
               return;
           }
       });
       
       $('#listImage').on('click', '#closeall_images', function () {
           //remove each image
           $("#listImage .img_box").each(function () {
               $(this).remove();
           });
       });
   }]);
</script>

<section class="content-header" >
    <h1>Thêm Công Trình</h1>
    <ol class="breadcrumb">
        <li><a href="/CongTrinh/Index"><i class="fa fa-dashboard"></i>Công Trình</a></li>
        <li class="active">Thêm Công Trình</li>
    </ol>
</section>

<section class="content" ng-app="postApp" ng-controller="postController">
    <div class="container body-content">
        <div class="row">
             <form class="form-horizontal">
                 <div class="form-group">
                 <label class="control-label col-sm-2" for="">Tên công trình:</label>
                 <div class="col-sm-10">
                 <input type="text" class="form-control" ng-model="congtrinh.TenCT" placeholder="Tên công trình">
                  </div>
                 </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="">Mô tả:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" ng-model="congtrinh.MoTa" placeholder="Công trình như thế nào ..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="">Địa chỉ:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="congtrinh.DiaChi" placeholder="Địa chỉ">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Url_HinhAnh">Hình Ảnh:</label>
                    <div class="col-sm-10">
                        <div id="listImage" class="listImage_old col-sm-12">
                            <!--choose image and show-->
                            <div id="Images_new" class="col-sm-11" style="border-top:1px solid">
                                <div class="img_box" ng-repeat="x in stepsModel">
                                    <img src="{{x.image}}" style="width:200px;height:200px">
                                    <span class="image_name"></span>
                                    <span class="icon-delete kv-file-zoom btn btn-xs btn-default">
                                        <i class="fa fa-fw fa-trash-o" aria-hidden="true">
                                        </i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <label for="gallery_upload" class="custom-file-upload" id="gallery_upload_choose">
                            <i class="fa fa-cloud-upload"></i> Chọn ảnh
                        </label>
                        <input id="gallery_upload" type="file" onchange="angular.element(this).scope().imageUpload(event)" class=" input-upload-file" multiple="" accept="image/*" style="display:none" />
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <label class="control-label col-sm-2" for="">Dropbox:</label>
                    <div class="col-sm-10">
                        <span class="btn btn-default dropbox-saver" id="btn_savetoDropbox">
                            <img style="width:25px;height:25px" src="~/Images/Bokehlicia-Alike-Dropbox.ico" />
                            Save Images to Dropbox
                        </span>
                        <!--<a href="https://cf.dropboxstatic.com/static/images/developers/dropblox.png" id="btn_savetoDropbox" class="dropbox-saver dropbox-dropin-btn dropbox-dropin-default"><span class="dropin-btn-status"></span>Save Images to Dropbox</a>-->
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4">
                        <input class="btn btn-block btn-primary btn-lg" id="btn_submit" value="Lưu" ng-click="submitForm(congtrinh)" />
                    </div>
                </div>

            </form>
        </div>

    </div>
</section>

