<div>
    <div class="copy">
        <h3>Custom Function</h3>
        <p>
            FlexSheet also allows user to process non-supported functions met in cell expressions by the <b>unknownFuntion</b> event.  This event will pass the 'UnKnownFunctionEventArgs' to customer.<br />
            This 'UnKnownFunctionEventArgs' provides the function name and the evaluated values list of the parameters. <br />
            Customer can set the 'value' field of 'UnKnownFunctionEventArgs' to customize the miss formula result.
            Otherwise the missed function will return the default error message: <i>'The function "funcName" has not supported in FlexSheet yet.'</i>.
        </p>
    </div>

    <style>
        .cell {
            border-right: 1px solid #c6c6c6;
            border-bottom: 1px solid #c6c6c6;
            outline: none;
            position: absolute;
            height: 28px;
        }

        .row_header {
            border-right: 1px solid #c6c6c6;
            border-top: 1px solid #c6c6c6;
            border-bottom: 1px solid #c6c6c6;
            background: #eaeaea;
            color: #222;
            text-align: center;
            font-weight: 700;
            padding-top: 5px;
            outline: none;
            position: absolute;
            height: 50px;
        }

        .column_header {
            border-right: 1px solid #c6c6c6;
            border-bottom: 1px solid #c6c6c6;
            border-left: 1px solid #c6c6c6;
            background: #eaeaea;
            color: #222;
            text-align: center;
            font-weight: 700;
            padding-top: 5px;
            outline: none;
            position: absolute;
            height: 28px;
        }
    </style>

    <div class="col-sm-12" style="height:800px">
        <div style="width:100%; height:100%">
            <!--Center-->
            <div style="position: absolute; width: 100%; height: 100%; max-height: inherit; ">
                <div style="position: relative; top: 28px; width: 100%; height: 100%; background-color: white;" id="sheet_cellcenter">

                    <script>
                        $(document).ready(function () {
                            var cell_center = $("#sheet_cellcenter");

                            var column_clear = '<div style="left:0%;width:3%;top:0px;border-left: 1px solid #c6c6c6;" class="row_header"></div>';
                            var column_stt = '<div style="left:3%;width:3%;top:0px;" class="row_header">STT</div>';
                            var column_mahieu = '<div style="left:6%;width:6%;top:0px;" class="row_header">Mã Hiệu</div>';
                            var column_tencv = '<div style="left:12%;width:21%;top:0px;" class="row_header">Tên Công Việc</div>';
                            var column_donvi = '<div style="left:33%;width:6%;top:0px;" class="row_header">Đơn Vị</div>';
                            var column_soluong = '<div style="left:39%;width:5%;top:0px;" class="row_header">Số Lượng</div>';
                            var column_dai = '<div style="left:44%;width:5%;top:0px;" class="row_header">Dài</div>';
                            var column_rong = '<div style="left:49%;width:5%;top:0px;" class="row_header">Rộng</div>';
                            var column_cao = '<div style="left:54%;width:5%;top:0px;" class="row_header">Cao</div>';
                            var column_khoiluong = '<div style="left:59%;width:5%;top:0px;" class="row_header">Khối Lượng</div>';
                            var column_dgvl = '<div style="left:64%;width:6%;top:0px;" class="row_header">ĐGVL</div>';
                            var column_dgnc = '<div style="left:70%;width:6%;top:0px;" class="row_header">ĐGNC</div>';
                            var column_dgmtc = '<div style="left:76%;width:6%;top:0px;" class="row_header">ĐGMTC</div>';
                            var column_ttvl = '<div style="left:82%;width:6%;top:0px;" class="row_header">TTVL</div>';
                            var column_ttnc = '<div style="left:88%;width:6%;top:0px;" class="row_header">TTNC</div>';
                            var column_ttmtc = '<div style="left:94%;width:6%;top:0px;" class="row_header">TTMTC</div>';
                            cell_center.append(column_clear);
                            cell_center.append(column_stt);
                            cell_center.append(column_mahieu);
                            cell_center.append(column_tencv);
                            cell_center.append(column_donvi);
                            cell_center.append(column_soluong);
                            cell_center.append(column_dai);
                            cell_center.append(column_rong);
                            cell_center.append(column_cao);
                            cell_center.append(column_khoiluong);
                            cell_center.append(column_dgvl);
                            cell_center.append(column_dgnc);
                            cell_center.append(column_dgmtc);
                            cell_center.append(column_ttvl);
                            cell_center.append(column_ttnc);
                            cell_center.append(column_ttmtc);




                            
                            
                            var d_left = 0;
                            for (var i = 0; i < 16; i++) {                                  //column

                                var d_width = 6;

                                if (i >= 0 && i <= 1) {
                                    d_width = 3;
                                }
                                if (i == 3) {
                                    d_width = 21;
                                }
                                if (i >= 5 && i <= 9) {
                                    d_width = 5;
                                }

                                var css_width = "width:" + d_width + "%;";
                                var css_left = "left:" + d_left + "%;";
                                d_left = d_left + d_width;
                                var temp = '<div style="';
                                temp = temp + css_left + css_width;
                                var input = '<input type="text" style="width:100%; border:0px; height:27px;padding-left:4px"/>';
                                for (var j = 1; j < 26; j++)                                //row
                                {
                                    var div = temp;
                                    var css_top = "top:" + parseInt(22 + (parseInt(28) * j)) + "px;";
                                    
                                    if (i == 0) {
                                        div = div + css_top + '"' + 'class="column_header">' + j + '</div>';
                                    }
                                    else {
                                        div = div + css_top + '"' + 'class="cell">' + input + '</div>';
                                    }
                                    cell_center.append(div);

                                }
                            }
                        });
                    </script>

                </div>

            </div>

        </div>
    </div>
</div>