@{
    ViewBag.Title = "Home Page";
}

<section class="content-header"></section>

<section class="content">
    <div class="row col-sm-12" style="margin-top:50px">
        <div class="col-sm-8">
            <h2>CES có thể làm được gì?</h2>
            <p>Giới thiệu người truy cập để các doanh nghiệp sử dụng rõ ràng , văn bản thông tin . Sử dụng các từ khóa nhắm mục tiêu tốt trong các câu của bạn để làm cho công cụ tìm kiếm chắc chắn có thể tìm thấy công việc kinh doanh.</p>
            <p>
                <a id="" class="btn btn-default btn-lg" href="/HangMuc/Estimate_Work">Chi tiết &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Liên hệ</h2>
            <address>
                <strong>Huỳnh Hữu Duy</strong>
                <br>95/101/9 Lê Văn Lương,
                <br>P. Tân Kiểng, Q.7 TP. Hồ Chí Minh
                <br>
            </address>
            <address>
                <label for="phone" class="control-label"><span><i class="fa fa-fw fa-phone"></i></span>:(123) 456-7890</label><br>
                <label><span class="glyphicon glyphicon-envelope"></span>:<a href="mailto:#">mr.huynhhuuduy@gmail.com</a></label>

            </address>
        </div>
    </div>
    <div class="row col-sm-12" style="margin-top:100px">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#">
                    <img class="img-circle img-responsive media-object" src="~/Images/new-construction-300x300.jpg" alt="ec300.jpg">
                </a>
                <div class="caption">
                    <h2>Dự toán chi phí</h2>
                    <h4 class="badge">Hạng nặng</h4>
                    <p>Những hộp tiếp thị là một nơi tuyệt vời để đưa một số thông tin . Đây có thể chứa bản tóm tắt về những gì các công ty làm , tin khuyến mãi, hoặc bất cứ điều gì khác mà có liên quan đến công ty. Những thường sẽ được dưới nếp gấp .</p>
                    <p>
                        <a class="btn btn-primary btn-xs">More</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#">
                    <img class="img-circle img-responsive media-object" src="~/Images/engineer.jpg" />
                </a>
                <div class="caption">
                    <h2>Bill Moston</h2>
                    <h4 class="badge">Trưởng dự án</h4>
                    <p>Những hộp tiếp thị là một nơi tuyệt vời để đưa một số thông tin . Đây có thể chứa bản tóm tắt về những gì các công ty làm , tin khuyến mãi, hoặc bất cứ điều gì khác mà có liên quan đến công ty. Những thường sẽ được dưới nếp gấp .</p>
                    <p>
                        <a class="btn btn-primary btn-xs">More</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#">
                    <img class="img-circle img-responsive media-object" src="~/Images/ec300.jpg" alt="ec300.jpg">
                    
                </a>
                <div class="caption">
                    <h2>Chức năng sử dụng</h2>
                    <a class="badge">Hướng dẫn</a>
                    <h2 class="label label-danger">New</h2>
                    <p>Những hộp tiếp thị là một nơi tuyệt vời để đưa một số thông tin . Đây có thể chứa bản tóm tắt về những gì các công ty làm , tin khuyến mãi, hoặc bất cứ điều gì khác mà có liên quan đến công ty. Những thường sẽ được dưới nếp gấp .</p>
                    <p>
                        <a class="btn btn-primary btn-xs">More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /.row -->